html,* {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-user-select: none;
  user-select: none;
}
body {
  line-height: 1.6;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #f1f0f6;
}
* {
  margin: 0;
  padding: 0;
}
button {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  *font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
ul,
ol {
  padding-left: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
}
 .clearfix:before, .clearfix:after {
  display: table;
  content: " ";
}
.clearfix:after {
  clear: both;
}
.hide{
  display: none!important;
}
.label_box {
  background-color: #ffffff;
}
.label_item {
  padding-left: 15px;
}
.label_inner {
  padding-top: 10px;
  padding-bottom: 10px;
  min-height: 24px;
  position: relative;
}
.label_inner:before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  width: 200%;
  height: 1px;
  border-top: 1px solid #ededed;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  top: auto;
  bottom: -2px;
}
.lbox_close {
  position: relative;
}
.lbox_close:before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  width: 200%;
  height: 1px;
  border-top: 1px solid #ededed;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
}
.lbox_close:after {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  width: 200%;
  height: 1px;
  border-top: 1px solid #ededed;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  top: auto;
  bottom: -2px;
}
.lbox_close .label_item:last-child .label_inner:before {
  display: none;
}
.btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 14px;
  padding-right: 14px;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  overflow: visible;
  /*.btn_h(@btnHeight);*/
  height: 42px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  color: #ffffff;
  line-height: 42px;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
.btn.btn_inline {
  display: inline-block;
}
.btn_primary {
  background-color: #04be02;
}
.btn_primary:not(.btn_disabled):visited {
  color: #ffffff;
}
.btn_primary:not(.btn_disabled):active {
  color: rgba(255, 255, 255, 0.9);
  background-color: #039702;
}
button.btn {
  width: 100%;
  border: 0;
  outline: 0;
  -webkit-appearance: none;
}
button.btn:focus {
  outline: 0;
}
.wxapi_container {
  font-size: 16px;
}
h1 {
  font-size: 14px;
  font-weight: 400;
  line-height: 2em;
  padding-left: 15px;
  color: #8d8c92;
}
.desc {
  font-size: 14px;
  font-weight: 400;
  line-height: 2em;
  color: #8d8c92;
}
.wxapi_index_item a {
  display: block;
  color: #3e3e3e;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.wxapi_form {
  background-color: #ffffff;
  padding: 0 15px;
  margin-top: 30px;
  padding-bottom: 15px;
}
h3 {
  padding-top: 16px;
  margin-top: 25px;
  font-size: 16px;
  font-weight: 400;
  color: #3e3e3e;
  position: relative;
}
h3:first-child {
  padding-top: 15px;
}
h3:before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  width: 200%;
  height: 1px;
  border-top: 1px solid #ededed;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
}
.btn {
  margin-bottom: 15px;
}

.menu-bar{
  
}
.bar {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 10;
    height: 2.2rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    background-color: #f7f7f8;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.bar-tab {
    bottom: 0;
    width: 100%;
    /*height: 2.5rem;*/
    height: 40px;
    padding: 0;
    table-layout: fixed;
    /*position: absolute;*/
    position: fixed;
    right: 0;
    left: 0;
    z-index: 10;
        background-color: #f7f7f8;
            -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
        box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
}
.bar:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: auto;
    top: auto;
    height: 1px;
    width: 100%;
    background-color: #e7e7e7;
    display: block;
    z-index: 15;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}
.bar-tab:after,.bar-footer-secondary:after {
    display: none;
}
.bar-tab:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: auto;
    right: auto;
    height: 1px;
    width: 100%;
    background-color: #e7e7e7;
    display: block;
    z-index: 15;
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
}
.bar-tab .tab-item {
    position: relative;
    display: table-cell;
    width: 1%;
    /*height: 2.5rem;*/
    height: 40px;
    color: #929292;
    text-align: center;
    vertical-align: middle;
}
.bar-tab .tab-item.active, .bar-tab .tab-item:active {
    color: #0894ec;
} 
.bar-footer-secondary {
    /*bottom: 2.5rem;*/
    bottom: 40px;
    height: auto;
    /*background-color: #888;*/
    padding: 10px 15px;
}
.bar-footer-secondary .btn,.bar-footer-secondary input{
  height: 30px;
  line-height: 30px;
  font-size: 14px;
}
.bar-footer-secondary .btn{
  margin-bottom: 0;
  /*height: 32px;*/
  /*line-height: 32px;*/
  /*margin: 5px auto;*/
}

.bar-footer-secondary input{
  -webkit-appearance:none;
  border:1px solid #ccc;
  display: inline;
  /*display: block;*/
  width: 85%;
  padding-left: 14px;
  padding-right: 14px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  /*font-size: 14px;*/
  /*height: 32px;*/
  /*line-height: 32px;*/
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  -webkit-border-top-right-radius：0;
  -webkit-border-bottom-right-radius：0;
}
.btn.submit{
  display: inline;
  width: 15%;
  padding-left: 5px;
  padding-right: 5px;
}
input+.btn.submit {
  border-top-left-radius: 0;
  /*border-top-right-radius: 5px;*/
  /*border-bottom-right-radius: 5px;*/
  border-bottom-left-radius: 0;
}
.bar-footer-secondary input:focus{
  outline: none;
}
.foot-content{
  display: none;
}
.foot-content.active{
  display: block;
}

.content{
  padding-bottom: 90px;
  padding-top: 30px;
}
.record{
  padding: 10px;
}
.record:empty{
  padding: 0;
}
.record-row{
  margin: 10px auto;
  position: relative;
}
.record .dialog{
  display: inline-block;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-sizing: border-box;
  background-color: #fff;
  padding: 10px;
  max-width: 80%;
  vertical-align: middle;
}
/*.record .dialog.text{
}*/
/*.record .dialog.img{
  display: inline-block;
}*/
.record .dialog.img img{
  max-width: 100%;
}
.record .dialog.voice{
  width: 70%;
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;
}
.record .dialog.voice:before{
  display: block;
  content: " ";
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-left: 10px solid #04be02;
  border-bottom: 5px solid transparent;
  position: absolute;
  right: 10px;
  top: 10px;
}
.upload,
.close{
  text-align: center;
  vertical-align: middle;
}
.upload:before{
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}
.select, .close{
  display: none
}
.record .upload,
.record.edit .select,
.record.edit .close{
  display: inline-block;
}
.btn.edit-opt {
  display: inline-block;
  width: 31%;
  margin: 0 1%;
  background: none;
  border: 1px solid #c0c0c0;
  color: #929292;
}
.btn.edit-opt.disable {
  color: #ccc;
}